body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#user {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 4px;
    align-items: center;
}

.search-button {
    padding: 8px 16px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}